<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{https://cdn.jsdelivr.net/npm/bootswatch@3.3.7/cosmo/bootstrap.min.css}" />
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">ArtSurge</a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/artworks}">View Artworks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/cart}">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/checkout}">Checkout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <h2 class="text-center">Checkout</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Artwork</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartItem : ${cartItems}">
            <td th:text="${cartItem.artwork.title}"></td>
            <td th:text="${cartItem.artwork.price}"></td>
            <td th:text="${cartItem.quantity}"></td>
            <td th:text="${cartItem.artwork.price * cartItem.quantity}"></td>
        </tr>
        </tbody>
    </table>
    <div class="text-right">
        <p>Total: $ <span th:text="${cartTotal}"></span></p>
        <form th:action="@{/checkout}" method="POST">
            <button type="submit" class="btn btn-success">Complete Checkout</button>
        </form>
    </div>
</div>
</body>
</html>